/*---------------------------
Fonts
---------------------------*/

/*---------------------------
General styling
---------------------------*/
body {
    margin: 0;
    padding: 0;
}

#bg-space {
    background: url("../img/splanetshero.jpg") center no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
}
/*----------------------------
Header - Nav
----------------------------*/
.toggler-colour .navbar-toggler {
    border-color: rgb(255,102,203);
}

.navbar-toggler {
    color: #4fb2e5;
}

.logo {
    margin-left: ;
}
/*----------------------------
Hero
----------------------------*/

#hero .intro-container {
    position: relative;
    bottom: 0;
    top: 100px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

.welcome-card {
    background: linear-gradient(rgba(253, 230, 147, 1), rgba(252, 221, 140, 1), rgba(250, 212, 136, 1));
    max-width: 600px;
    border-radius: 30px;
}
/*----------------------------
Video
----------------------------*/

/*----------------------------
Start Button
----------------------------*/

/*----------------------------
Nav Button
----------------------------*/

/*----------------------------
Question Container
-----------------------------*/

/*----------------------------
Questions
-----------------------------*/

/*-----------------------------
Progress Bar
------------------------------*/

/*------------------------------
Score Announcement
-------------------------------*/

/*-------------------------------
Leader Board
-------------------------------*/

/*-------------------------------
Leader Board Submission
-------------------------------*/

/*-------------------------------
Try Again 
--------------------------------*/

/*--------------------------------
Winner Rocket Luanch
--------------------------------*/