/*---------------------------
Fonts
---------------------------*/

/*---------------------------
General styling
---------------------------*/
body {
    margin: 0;
    padding: 0;
}

#bg-space {
    background: url("../img/splanetshero.jpg") center no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
}
/*----------------------------
Header - Nav
----------------------------*/

.navbar-toggler-icon {
    color: #4fb2e5;
}
.navbar-toggler {
    color: #4fb2e5;
}
.navbar-toggler-icon {
    color: #4fb2e5;
}

.logo {
    transform: translate(-40px);
    max-height: 130px;
}
/*----------------------------
Hero
----------------------------*/

#hero .intro-container {
    position: relative;
    bottom: 0;
    top: 100px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

/*----------------------------
Video
----------------------------*/

/*----------------------------
Start Button
----------------------------*/

/*----------------------------
Nav Button
----------------------------*/

/*----------------------------
Question Container
-----------------------------*/
#quiz {
    margin-top: 100px;
}
#quiz .quiz-question-card {
    position: relative;
    bottom: 0;
    top: 100px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .welcome-card {
    background: url(../img/cardbackground.jpg);
    max-width: 600px;
    min-height: 120px;
    border-radius: 30px;
    text-align: center;
}

.question-title {
    padding-bottom: 10px;
}
/*----------------------------
Questions
-----------------------------*/

/*-----------------------------
Progress Bar
------------------------------*/

/*------------------------------
Score Announcement
-------------------------------*/

/*-------------------------------
Leader Board
-------------------------------*/

/*-------------------------------
Leader Board Submission
-------------------------------*/

/*-------------------------------
Try Again 
--------------------------------*/

/*--------------------------------
Winner Rocket Luanch
--------------------------------*/